<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="CHAPEAU DATABASE"
         connectionString="Data Source=den1.mssql7.gear.host;
         Initial Catalog=dbchapeau07;
         User ID=dbchapeau07;
         Password=Qc5zO~OwA4~w"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>